
.container{
    max-width: 100%;
    width: 100%;
}


.contact{
    height: 500px;
    width: 600px;
    font-family:Raleway;
    opacity: 0.8;
    font-size:18px;
    background-color: rgba(211,211,211,0.2);
    padding:50px;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.3);
}

.btn{
    background-color: lightslategray;
    color:white;
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}

@media (min-width: 1200px) {

}
