<div class="container-fluid">
  <div class="row m-5">
    <div class="col-8">
        <img src="assets/imgs/gato.jpg" alt="" class="w-100 h-100">
    </div>
    <div class="col-4 mt-5 ">
        <h2 class="display-4 mt-2">About me</h2>        
        <blockquote class="blockquote text-left pl-3">
            <p>Desarrollar un trabajo fotografico en donde las imagenes capturadas respondan a una mirada esencial de la vida y la creacion que nos rodea.Siempre desde el respeto y la gratitud por la magia del presente con su ensenianza</p>
            <footer class="blockquote-footer text-right">Alvaro Ugarte Forno</footer>
          </blockquote>  
    </div>    
  </div>
</div>