<div class="container-fluid">
  <div class="row m-0 m-sm-4 mt-md-5 mt-lg-5">
    <div class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline  col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <img src="assets/imgs/gato.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mt-5 mb-5  mt-sm-2 mt-md-3 mt-lg-3 mt-xl-2 ">
        <h2 class="display-4 mt-2">About me</h2>        
        <blockquote class="blockquote text-left pl-3">
          <p>Nací en la costa del Peru y estudie Ciencias de la Comunicacion.
            La vida me fue llevando a recorrer mi pais experimentando vivencias
            de mucho aprendizaje, donde a traves de la fotografia documental descubri
            la herramienta para transmitir la cultura, costumbres, lugares milenarios,
            naturaleza, colores, texturas, vida y creacion.
          </p>
          <footer class="blockquote-footer text-right">Alvaro Ugarte Forno</footer>
          <br>
          <br>
          </blockquote>  
    </div>    
  </div>
</div>