<div class="row h-25 ml-4">
  <div class="col-12">
    <a class="btn pl-2" (click)="all()" [class.my-active]="other === 4"><p >All</p></a>
    <a class="btn pl-2" (click)="change(0)"  [class.my-active]="other === 0"><p >Naturaleza</p></a>
    <a class="btn pl-2" (click)="change(1)" [class.my-active]="other === 1"><p >Retratos</p></a>
    <a class="btn pl-2" (click)="change(2)"  [class.my-active]="other === 2"><p >Herencia Ancestral</p></a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div  *ngFor="let photo of photos" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 p-1">
      <img  class="img-fluid" (click)="openSlide($event)" [src]="photo" alt="">
    </div>
  </div>
</div>

<div class="container-fluid above p-4 d-none d-sm-none d-md-inline d-lg-inline d-xl-inline" *ngIf="enableView">
  <button class="btn btn-exit" (click)="enableView = false">X</button>
  <div class="row">
    <div class="col-1">
      <button class="btn-left btn float-left" (click)="moveToLeft()"> < </button>
    </div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10"><img class="img-fluid w-100" [src]="selectedPhoto" alt=""></div>
    <div class="col-1">
      <button class="btn-right btn float-right " (click)="moveToRight()"> > </button>
    </div>
  </div>
</div>
